/* hzcss - Page Layout Styles - Zac Hester */

#content {
  width: 90%;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

  .row:after {
    content: "\0020";
    display: block;
    margin-bottom: 0.5em;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    width: 0;
  }

.column, .row>div {
  float: left;
  margin: 0 0 0 2%;
  padding: 0;
}

.column.whole,
  .row>div.whole,
  .row.auto>div:first-child:nth-last-child(1) {
  width: 100%;
}
.column.half,
  .row>div.half,
  .row.auto>div:first-child:nth-last-child(2),
  .row.auto>div:first-child:nth-last-child(2) ~ div {
  width: calc( 50% - 2% );
}
.column.third,
  .row>div.third,
  .row.auto>div:first-child:nth-last-child(3),
  .row.auto>div:first-child:nth-last-child(3) ~ div {
  width: calc( 100% / 3 - 2% );
}
.column.quarter,
  .row>div.quarter,
  .row.auto>div:first-child:nth-last-child(4),
  .row.auto>div:first-child:nth-last-child(4) ~ div {
  width: calc( 25% - 2% );
}
.column.fifth,
  .row>div.fifth,
  .row.auto>div:first-child:nth-last-child(5),
  .row.auto>div:first-child:nth-last-child(5) ~ div {
  width: calc( 20% - 2% );
}
.column.sixth,
  .row>div.sixth,
  .row.auto>div:first-child:nth-last-child(6),
  .row.auto>div:first-child:nth-last-child(6) ~ div {
  width: calc( 100% / 6 - 2% );
}


@media screen and (max-width: 800px) {
  #content { width: 720px; }
}

@media screen and (max-width: 750px) {
  #content { width: 420px; }
  .column,
  .column.whole,
  .column.half,
  .column.third,
  .column.quarter,
  .column.fifth,
  .column.sixth,
  .row>div,
  .row>div.whole,
  .row>div.half,
  .row>div.third,
  .row>div.quarter,
  .row>div.fifth,
  .row>div.sixth,
  .row.auto>div,
  .row.auto>div:first-child:nth-last-child(1),
  .row.auto>div:first-child:nth-last-child(2),
  .row.auto>div:first-child:nth-last-child(2) ~ div,
  .row.auto>div:first-child:nth-last-child(3),
  .row.auto>div:first-child:nth-last-child(3) ~ div,
  .row.auto>div:first-child:nth-last-child(4),
  .row.auto>div:first-child:nth-last-child(4) ~ div,
  .row.auto>div:first-child:nth-last-child(5),
  .row.auto>div:first-child:nth-last-child(5) ~ div,
  .row.auto>div:first-child:nth-last-child(6),
  .row.auto>div:first-child:nth-last-child(6) ~ div {
      width: auto; float: none; margin: 0 auto;
  }
}

@media screen and (max-width: 440px) {
  #content { width: 300px; }
}

@media print {
  #header { display: none; }
}
