/* hzcss - User Interface Style Sheet - Zac Hester */

/*
Note on icons: Icons are dynamically generated SVG images and sprite sets.
The generators are currently sourced from my personal web site.  If you wish
to host the generators yourself, my hzphp project can help:
    https://github.com/zhester/hzphp
        --> tools/icon.php
*/


/* === Imports === */

/* sprite set background positions for .button.* elements */
@import url( "../../hzphp/tools/\
icon.php?css=1&size=16" );


/* === Layouts, Sizes, and Rendering === */

input, select, textarea, .button, .input {
  display: inline-block;
  margin: 0 2px;
  padding: 2px 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  vertical-align: middle;
}
select {
  /* one strange trick to make Firefox stop displaying the button */
  text-indent: 0.01px;
  text-overflow: '';
}
.button {
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  a.button {
    height: 24px;
    width: 24px;
  }
.check {
  list-style: none;
}
.check li {
  margin: 0 2px;
  padding: 0;
}
.check label {
  display: inline-block;
  margin: 0;
  padding: 2px 4px 2px 24px;
  border-radius: 1px;
}
.check input[type="checkbox"], .check input[type="radio"] {
  display: none;
}
.bar {
  margin: 0;
  padding: 3px;
}
  .bar div {
    float: right;
  }
  .bar h6 {
    margin: 3px 0 3px 8px;
    height: 20px;
  }
.modal {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 40%;
  z-index: 1000;
  margin: 0;
  padding: 0;
}
  .modal .message {
    margin: 1em 0;
    padding: 0.25em 1em;
  }
  .modal.error .message, .modal.info .message, .modal.query .message {
    min-height: 28px;
    padding-top: 10px;
    padding-left: 44px;
  }
    .modal .message p:first-child {
      margin-top: 0;
    }
    .modal .message p:last-child {
      margin-bottom: 0;
    }
  .modal .control {
    margin: 0;
    padding: 0.25em 1em;
    text-align: center;
  }
.view {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
  z-index: 500;
  margin: 0;
  padding: 0;
  border: none;
}
  .view .content {
    /* .bar{padding} + .bar h6{height} + .bar h6{margin} + padding */
    height: calc( 100% - ( 6px + 20px + 6px + 8px ) );
    margin: 0;
    padding: 4px 1em;
    border: none;
    overflow: auto;
  }
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.gauge {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
}
  .gauge>div:first-child {
    position: absolute;
    height: 100%;
    border-style: none;
    border-width: 0;
    border-radius: 1px;
    overflow: hidden;
  }
  .gauge>div:nth-child(2) {
    position: relative;
    width: calc( 100% - 1em - 2px );
    padding: 0.1em 0.5em;
    white-space: nowrap;
  }
  .gauge>div:nth-child(2) span {
    position: absolute;
    top: 0.1em;
    right: 0.5em;
  }

.form>div {
  margin: 0.5em 0;
}
  .form .field label {
    display: inline-block;
    margin: 0.1em 1em 0.1em 0;
    padding: 0.5em 1em;
    width: 25%;
    vertical-align: middle;
    border-right-width: 2px;
    border-right-style: solid;
    text-align: right;
  }
    .form .field label span {
      display: block;
      font-size: 80%;
    }
  .form .field>span {
    display: inline-block;
    margin: 0.1em 0;
    padding: 0.5em 0;
    /* 100% - label{width + margin + padding + border} */
    width: calc( 100% - ( 25% + 1em + 2em + 2px ) );
    vertical-align: middle;
    overflow: hidden;
  }
.form .control {
  margin-top: 1em;
  padding: 1em;
  border-top-width: 2px;
  border-top-style: solid;
  text-align: center;
}
.form input[type="text"], .form textarea {
  /* 100% - input{margin + padding + border} */
  width: calc( 100% - ( 4px + 10px + 2px ) );
}
.form textarea {
  min-height: 12em;
}

.efile {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
}
  .efile input {
    position: absolute;
    top: 0;
    left: 0;
    height: 47px;
    width: 100%;
  }
  .efile p:nth-child(2) {
    display: inline-block;
    width: calc( 100% - 44px );
    height: 32px;
    margin: 0;
    padding: 12px 6px 3px 38px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .efile p:nth-child(3) {
    margin: 0;
    padding: 3px 6px;
  }
  .efile table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }
    .efile td {
      margin: 0;
      padding: 3px 6px;
      border-right-style: solid;
      border-right-width: 1px;
    }
    .efile td:last-child {
      border-right: none;
    }
    .efile table tr.summary td {
      border-top-style: solid;
      border-top-width: 1px;
    }

table.data {
  width: 100%;
  margin: 0.5em 0;
  padding: 0;
  border-collapse: collapse;
}
  table.data td, table.data th {
    margin: 0;
    padding: 2px 5px;
    border-style: solid;
    border-width: 1px;
  }
  table.data td.truncate, table.data th.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


/* === Colors, Images, Fonts, and Effects === */

input, select, textarea, .button, .input {
  font: inherit;
  color: #4E4E50;
  border-color: #D0D0D0;
  background-color: #F6F6F6;
  background-repeat: no-repeat;
  transition: all 400ms ease;
  text-decoration: none;
  /* outline: solid 2px rgba( 127, 127, 127, 0 ); */
}
select {
  cursor: pointer;
  background-image: url( "../../hzphp/tools/\
icon.php?id=chevron_down&color=%23DDDDDD&size=12" );
  background-position: calc( 100% - 3px ) 50%;
}
input[type="text"], input[type="file"], select, textarea {
  border-top-color: #999999;
}
input[type="button"], input[type="submit"], input[type="reset"],
  .button, .input {
  cursor: pointer;
  font-weight: bold;
}
.button {
  color: transparent;
  background-image: url( "../../hzphp/tools/icon.php?size=16" );
}
.check:after {
  display: none;
  content:
    url( "../../hzphp/tools/icon.php?id=x_fill&color=%23CCCCCC&size=16" )
    url( "../../hzphp/tools/icon.php?id=check_fill&color=%2333CC33&size=16" );
}
.check label {
  cursor: pointer;
  transition: all 400ms ease;
  /* outline: solid 2px rgba( 127, 127, 127, 0 ); */
  background-image: url( "../../hzphp/tools/\
icon.php?id=x_fill&color=%23CCCCCC&size=16" );
  background-repeat: no-repeat;
  background-position: 3px 50%;
}
/* ZIH - should make a "check and radio" sprite set within the icon theme
       - make a square-ish pair of icons for inclusive controls
       - the set should contain all color variations on the same image
*/

/* --- Interactive Effects --- */

input[type="text"]:hover,
input[type="file"]:hover,
select:hover,
textarea:hover {
  border-color: #E0E0F0;
  border-top-color: #7070A0;
  background-color: #FAFAFA;
  /* outline-color: rgba( 127, 127, 127, 0.05 ); */
}
input[type="text"]:focus, input[type="file"], select:focus, textarea:focus {
  border-color: #909090;
  border-top-color: #505070;
  background-color: #FFFFFF;
  /* outline-color: rgba( 127, 127, 127, 0.15 ); */
}
input[type="button"]:hover, input[type="submit"]:hover,
  input[type="reset"]:hover, .button:hover, .input:hover {
  border-color: #C0C0C0;
  border-bottom-color: #7070A0;
  background-color: #FAFAFA;
}
input[type="button"]:active, input[type="submit"]:active,
  input[type="reset"]:active, .button:active, .input:active {
  border-color: #909090;
  border-bottom-color: #505070;
  background-color: #FFFFFF;
}
input[type="button"]:disabled, input[type="submit"]:disabled,
  input[type="reset"]:disabled, .button:disabled {
  cursor: default;
  background-image: url( "../../hzphp/tools/icon.php?size=16&color=%23CCCCCC" );
  background-color: #E4E4E4;
  border-color: #CCCCCC;
}
.check label:hover {
  background-color: #FAFAFA;
  /*  outline-color: rgba( 127, 127, 127, 0.05 ); */
}
.check input[type="checkbox"]:checked + label,
.check input[type="radio"]:checked + label {
  background-image: url( "../../hzphp/tools/\
icon.php?id=check_fill&color=%2333CC33&size=16" );
}
.check input[type="checkbox"] + label:focus,
.check input[type="radio"] + label:focus {
  color: #FFA500;
  /* outline-color: rgba( 127, 127, 127, 0.15 ); */
}
.check input[type="checkbox"]:checked + label:focus,
.check input[type="radio"]:checked + label:focus {
  color: #33CC33;
  /* outline-color: #33CC33; */
}
/* ZIH - go back and add focus, active, and disabled styles to everything */

.bar {
  color: #DDDDDD;
  background-color: #444444;
}
  .bar h1, .bar h2, .bar h3, .bar h4, .bar h5, .bar h6, .bar p {
    color: inherit;
  }
.modal {
  background-color: #FFFFFF;
  box-shadow: 0 0 4px rgba( 0, 0, 0, 0.7 );
  transition: opacity 500ms linear;
}
  .modal .message {
    background-repeat: no-repeat;
    background-position: 8px 50%;
    background-color: transparent;
  }
  .modal.error .message {
    background-image: url( "../../hzphp/tools/\
icon.php?id=x_fill&color=%23CC0000&size=28" );
  }
  .modal.info .message {
    background-image: url( "../../hzphp/tools/\
icon.php?id=info_fill&color=%23FFD633&size=28" );
  }
  .modal.query .message {
    background-image: url( "../../hzphp/tools/\
icon.php?id=question_fill&color=%23FF7519&size=28" );
  }
  .modal .control {
    background-color: #F4F4F4;
  }

.view {
  background-color: rgba( 255, 255, 255, 0.85 );
  box-shadow: 0 0 4px rgba( 0, 0, 0, 0.7 );
}
.overlay {
  background-color: rgba( 0, 0, 0, 0.4 );
  transition: opacity 500ms linear;
}

.gauge {
  color: #DDDDDD;
  border-color: #E0E0F0;
  background-color: #444444;
  font-weight: bold;
}
  .gauge>div:first-child {
    background-color: #008822;
    transition: width 150ms ease;
  }
  .gauge.pulse>div:first-child {
    background-repeat: repeat-x;
    background-size: 48px 48px;
    background-image: linear-gradient(
      -45deg,
      rgba( 255, 255, 255, 0.1 ) 25%,
      transparent 25%,
      transparent 50%,
      rgba( 255, 255, 255, 0.1 ) 50%,
      rgba( 255, 255, 255, 0.1 ) 75%,
      transparent 75%,
      transparent
    );
    animation: pulse_loop 1.5s linear infinite;
  }
  @keyframes pulse_loop {
    to { background-position: 48px 0; }
  }

  .form .field label {
    border-right-color: #CCCCCC;
  }
    .form .field label span {
      color: #777777;
    }
.form .control {
  border-top-color: #CCCCCC;
}

.efile {
  border-color: #CCCCCC;
}
  .efile input {
    opacity: 0;
    cursor: pointer;
  }
  .efile p:nth-child(2) {
    background-image: url( "../../hzphp/tools/icon.php?id=upload&size=32" );
    background-repeat: no-repeat;
    background-position: 4px 50%;
    font-weight: bold;
  }
  .efile p:nth-child(3) {
    color: #BBBBBB;
    font-weight: bold;
  }
    .efile td {
      border-right-color: #EEEEEE;
    }
    .efile table tr:nth-child(odd) td {
      color: inherit;
      background-color: #FFFFE0;
    }
    .efile table tr:nth-child(even) td {
      color: inherit;
      background-color: #FFFFFF;
    }
    .efile table tr.summary td {
      color: #999999;
      border-top-color: #EEEEEE;
    }

  table.data tr:hover td {
    text-shadow: 1px 2px 2px #BBBBBB;
    transition: all 0.25s ease;
  }
  table.data th {
    color: #FFFFFF;
    background-color: #666666;
  }
  table.data tr:nth-child(odd) td {
    color: inherit;
    background-color: #FFFFE0;
  }
  table.data tr:nth-child(even) td {
    color: inherit;
    background-color: #FFFFFF;
  }
  table.data td, table.data th {
    border-color: #FFFFFF;
  }
